.Form {
  border: none;
  border-bottom: 2px var(--clr-accent-pink) solid;
}

.Button {
  border: none;
  background-color: var(--clr-accent-pink);
  color: white;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 20px;
}

.Button:hover {
  cursor: pointer;
  background-color: var(--clr-accent-dark);
  color: white;
}
