.NavBar {
  background-color: var(--clr-neutral-light);
  display: flex;
  align-items: center;
}

.navbar-nav {
  align-items: center;
}

.NavLink {
  padding: 5px 10px;
  font-size: 14px;
}

.NavLink i {
  padding: 5px 10px;
  font-size: 24px;
}

.Active {
  color: var(--clr-accent-dark);
  text-decoration: none;
  font-weight: 500;
}
