.Post {
  background-color: white;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

/* .PostImage {
  max-height: 600px;
  width: auto;
  object-fit: cover;
} */

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: var(--clr-accent-pink);
}

.Heart:hover {
  color: var(--clr-accent-dark);
}

.HeartOutline:hover {
  color: var(--clr-accent-pink);
}
