.App {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary-dark);
  text-align: center;
  min-height: 100dvh;
}

.Main {
  padding-top: 80px;
}

a {
  color: var(--clr-accent-light);
  transition: color ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent-dark);
  text-decoration: none;
  font-weight: 500;
}

a:hover i {
  color: var(--clr-accent-dark);
  transition: color ease-in-out 0.3s;
}