/* Add general styles like hover effects and such */

:root {
  /* Colors */
  --clr-primary-light: rgb(245, 245, 245);
  --clr-primary-dark: rgb(35 32 14);

  --clr-natural-light: rgb(255, 250, 243);

  --clr-accent-pink: rgb(160 108 131);
  --clr-accent-light: rgb(149, 164, 170);
  --clr-accent-dark: rgb(72 102 113);
}

.App {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary-dark);
  text-align: center;
  min-height: 100dvh;
}

.Main {
  padding-top: 80px;
}

a {
  color: var(--clr-accent-light);
  transition: color ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent-dark);
  text-decoration: none;
  font-weight: 500;
}

a:hover i {
  color: var(--clr-accent-dark);
  transition: color ease-in-out 0.3s;
}