:root {
  /* Colors */
  --clr-primary-light: rgb(245, 245, 245);
  --clr-primary-dark: rgb(35 32 14);

  --clr-natural-light: rgb(255, 250, 243);

  --clr-accent-pink: rgb(196, 104, 145);
  --clr-accent-light: rgb(149, 164, 170);
  --clr-accent-dark: rgb(72 102 113);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
